section{
    text-align: center;
    margin-top: 5em;
}

p{
    font-size: 5em;
    font-weight: 400;
}

button{
    height: 3rem;
    width: 3rem;
    margin: .5rem;
    font-size: 2rem;
}

.addAmountBtn{
    width: auto;
}

.resetBtn{
    width: auto;
}

input{
    height: 4rem;
    width: 3em;
    text-align: center;
    font-size: 3rem;
}